body {
  box-sizing: content-box;
  font-size: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;700;900&display=swap');
weight: 700;

@media only screen and (max-width: 376px) {
  #main_box {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    line-height: 25px;
  }
  .sedans_box {
    background-color: hsl(31, 77%, 52%);
    padding: 30px 30px;
    align-content: center;
    text-align: left;
  }
  .suvs_box {
    background-color: hsl(184, 100%, 22%);
    padding: 30px 30px;
    text-align: left
  }
  .luxury_box {
    background-color: hsl(179, 100%, 13%);
    padding: 40px 30px;
    text-align: left;

  }
}

@media screen and (min-width: 376px) {
  #main_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 100%;
    padding: 40px 20px;
    line-height: 25px;
  }
  .sedans_box {
    background-color: hsl(31, 77%, 52%);
    padding: 30px 30px 30px 50px;
    justify-content: left;
  }
  .suvs_box {
    background-color: hsl(184, 100%, 22%);
    padding: 30px 30px 30px 50px;
  }
  .luxury_box {
    background-color: hsl(179, 100%, 13%);
    padding: 30px 30px 30px 50px;

  }
  .img {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left ;
  }

}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca" ;
  font-weight: 400;
}

h1 {
  color: hsl(0, 0%, 95%);
  text-align: left;
  font-family: "Big Shoulders Display";
  font-weight: 700;

}

.btn_1 {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  width: 150px;
  height: 45px;
  border-radius: 25px;
  border: none;
}
.btn_2 {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
  width: 150px;
  height: 45px;
  border-radius: 25px;
  border: none;
}
.btn_3 {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
  width: 150px;
  height: 45px;
  border-radius: 25px;
  border: none;
}
